<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; <%= link_to "Vincent Blog", root_path, class: "text-white-50" %> </small>
    </div>
</footer>